*
{
	margin: 0px;
	padding: 0px;
}

body{
    background-color: #FAFAFA
    ;
}


.bg-indigo-500 {
    --tw-bg-opacity: 1;
    /* background-color: black; */
}
/* my arrow down */
.scroll-down {
position: relative;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
  width: 40px;
  height: 40px;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  z-index: 9;
  left: 25%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation:    fade_move_down 4s ease-in-out infinite;
    animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}


/* arrowdown */
/* toggle */
#toggle
{
	display: none;
}
.togglearea
{
	
	border-bottom: 2px solid white;
	color: white;
	padding: 10px;
	display: flex;
	justify-content: flex-end;
}
.togglearea label
{
	background-color: white;
	height: 45px;
	width: 50px;
	color: black;
	border-radius: 6px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.togglearea label span
{
	background-color: black;
	height: 4px;
	width: 70%;
	margin: 2px 0px;
}
/* toggle */
nav{
  display: flex;
  flex-direction: row;
align-items: center;
justify-content: space-between;

}
.logo{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 10%;
    font-size: large;
line-height: 30px;
}
.banner{
    justify-content: space-between;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap-reverse;
}
.banner .image img{
    max-width: 800px;
    width: 50.3vw;
    min-width: 320px;
    filter:         drop-shadow(23px 23px 23px rgba(34, 34, 34, 0.657)); 
    -webkit-filter: drop-shadow(23px 23px 23px rgba(34, 34, 34, 0.65));
}
.banner .text1{
    position: relative;
}
.banner .text1 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    

}
.banner .text1 p{
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}
svg{
    
    width: 200px;
    height: 200px;
}

#circlesdad {
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    align-items: center;
    justify-content:space-evenly;
    
}
.circles{
  display: flex;
  flex-direction: row;
}
.circle{
  z-index: 9999;
    width: 250px;
    height: 300px;
    background-color:rgb(255, 255, 255) ;
    border-radius: 95px;
    display: flex;
    align-items: center;
    margin: 5%;
  filter:         drop-shadow(23px 23px 23px rgba(34, 34, 34, 0.431)); 
    -webkit-filter: drop-shadow(23px 23px 23px rgba(34, 34, 34, 0.322));
    justify-content: center;
}
#circlesdad{flex-wrap: wrap;
}
#circlesdad .circle img{
  width: 120% ;
  position: relative;
  top: -39%;
 

}
 #h1{
  font-family: 'Roboto', sans-serif;
  font-size: 20vw;
  color:rgba(163, 163, 163, 0.212) ;
  z-index: 0;
  position: absolute;
letter-spacing: 30PX;
font-family: 'Montserrat', sans-serif;

}
.text{
  font-family: 'Montserrat', sans-serif;
  

}
.text h1{
  font-size: 3vw;
}

@media screen and (max-width:700px) {

  .banner{
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner .text1{
    margin-top:10% ;
  }
  .banner .text1 h1{
    font-size: 4.5vw;
  }
  .scroll-down{
    display: none;
  }

  .text{
    margin-top: 10%;
    text-align: center;
   
  }
  .text h1{
    font-size: 5vw;
  }
  .circle{
display: flex;
flex-direction: column; 
  }
  .banner .text1 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 6vw;
    

}
}

@media screen and (max-width:504px) {
  .circles{
    flex-direction: column;

  }
  .circle{
    margin-top: 45%;
  }
  
}

@media screen and (max-width:700px) {


  .banner .image img {
  width: 8 0vw;
  
  
  }
  



}